.header{
    background: #4C94FF;
    padding: 20px 160px;
}
.right-menu{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}